button {
  border: solid 1px #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

input {
  box-sizing: border-box;
  padding: 10px;
}

input.form-textarea {
  border: solid 1px #ddd;
  border-radius: 5px;
  width: 100%;
}

select {
  border: solid 1px #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

table {
  text-align: center;
  max-width: 960px;
}

table td,
table th {
  padding: 15px;
  border: 1px solid #ddd;
}